.container{
    background-color: rgb(190, 255, 255);
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 50px;
}
.container p{
    padding: 1rem;
    line-height: 3rem;
    font-weight: 600;
}
