.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
form{
  margin-left: 250px;
  margin-right: 260px;
  box-shadow: 5px;
  border: 1px solid black;
  padding-left: 50px;
  padding-bottom: 10px;
}


