.card
{
    display: inline-table;
  width: 200px;

  margin-left: 30px;
   border: 2px solid  rgb(90, 173, 173);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px rgb(47, 102, 102);
    padding: 20px;
    margin-top: 30px;
}
.example-form{
    text-align: center;
    margin-top: 30px;
   
}
mat-form-field{
    width: 500px;
}

.icon{
    margin: 13px;
   
}
#dd{
    display: none;
}
.card:hover #dd{
display: inline-block;
}
#not{
    color:#E91E63;
}