.inputbox{
    display: flex;
    justify-content: center;
}
h3,p{
    color: aliceblue;
    display: inline;
}
.div1{
    display: inline;
}
.maindiv{
    width:fit-content;
    display:inline-flex;
    flex-direction:column;
    margin: 25px 50px;
}
#img1{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 20%;
}